body {
  margin: 0;
  padding: 0;
  font-size: x-small;
}

p {
  font-size: small;
}

dd {
  margin-bottom: 0;
  margin-top: 0;
}

dt {
  margin-bottom: 0;
}

ul {
  margin-bottom: 0;
}

li {
  margin-top: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  padding-top: 0;
  margin-top: 0;
}

#noprint {
  display: none;
  visibility: hidden;
}

#printbutton {
  display: none;
  visibility: hidden;
}

/* #onlyprint {
  display: block;
  visibility: visible;
} */
#onlyprint {
  display: none;
  visibility: hidden;
}
