body {
  margin: 0;
  padding: 0;
  font-size: xx-small;
}

p {
  font-size: x-small;
}

h2::after {
  margin: 0;
}

#noprint {
  display: none;
  visibility: hidden;
}

#printbutton {
  display: none;
  visibility: hidden;
}
